##SUMMER TRAINING

In [ ]:
import os
#path="/content/drive/MyDrive/dataset/diabetes_data.csv"

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [ ]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

Saving diabetes_data.csv to diabetes_data.csv
User uploaded file "diabetes_data.csv" with length 23845 bytes

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
df=pd.read_csv('diabetes_data.csv')
#df=pd.read_csv(path)

In [ ]:
df.head()

   pregnancies  glucose  diastolic  triceps  ...   bmi    dpf  age  diabetes
0            6      148         72       35  ...  33.6  0.627   50         1
1            1       85         66       29  ...  26.6  0.351   31         0
2            8      183         64        0  ...  23.3  0.672   32         1
3            1       89         66       23  ...  28.1  0.167   21         0
4            0      137         40       35  ...  43.1  2.288   33         1

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      768 non-null    int64
 4   insulin      768 non-null    int64
 5   bmi          768 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.shape

(768, 9)

##CORRELATION MATRIX

In [ ]:
corr_matrix= df.corr()
corr_matrix

             pregnancies   glucose  diastolic  ...       dpf       age  diabetes
pregnancies     1.000000  0.129459   0.141282  ... -0.033523  0.544341  0.221898
glucose         0.129459  1.000000   0.152590  ...  0.137337  0.263514  0.466581
diastolic       0.141282  0.152590   1.000000  ...  0.041265  0.239528  0.065068
triceps        -0.081672  0.057328   0.207371  ...  0.183928 -0.113970  0.074752
insulin        -0.073535  0.331357   0.088933  ...  0.185071 -0.042163  0.130548
bmi             0.017683  0.221071   0.281805  ...  0.140647  0.036242  0.292695
dpf            -0.033523  0.137337   0.041265  ...  1.000000  0.033561  0.173844
age             0.544341  0.263514   0.239528  ...  0.033561  1.000000  0.238356
diabetes        0.221898  0.466581   0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

#we will replace zero with the mean of the respective column

In [ ]:
zero_not_accepted_in=['pregnancies','glucose','diastolic','triceps','insulin','bmi','dpf','age','diabetes']
for column in zero_not_accepted_in:
  df[column]=df[column].replace(0,np.NaN)
  mean=int(df[column].mean(sk oiipna=True))
  df[column]=df[column].replace(0,np.NaN)

In [ ]:
print(df['pregnancies'])

0       6.0
1       1.0
2       8.0
3       1.0
4       NaN
       ...
763    10.0
764     2.0
765     5.0
766     1.0
767     1.0
Name: pregnancies, Length: 768, dtype: float64

#Spiting the dataset into test and train

In [ ]:
#X=df.iloc[:,0:8]
#Y=df.iloc[:,8]

X = df.drop(columns=['diabetes'])
y = df['diabetes'].values

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y,random_state=0,test_size=0.25)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.fit_transform(X_test)

In [ ]:
len(y)

768

In [ ]:
import math
math.sqrt(len(Y))

27.712812921102035

In [ ]:
# cv: cross-validation, the number of cv folds for each combination of parameters
from sklearn.model_selection import GridSearchCV
params = {'n_neighbors':range(20)}

knn = KNeighborsClassifier()

model = GridSearchCV(knn, params, cv=5)
model.fit(X_train,Y_train)
model.best_params_

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
5 fits failed out of a total of 100.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py", line 198, in fit
    return self._fit(X, y)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_base.py", line 566, in _fit
    raise ValueError("Expected n_neighbors > 0. Got %d" % self.n_neighbors)
ValueError: Expected n_neighbors > 0. Got 0

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan 0.66664168 0.6910045  0.724003   0.69446777 0.71187406
 0.69965517 0.70658171 0.7014093  0.71355322 0.71008996 0.71872564
 0.72046477 0.7222039  0.72916042 0.72743628 0.7344078  0.7292054
 0.72397301 0.72743628]
  category=UserWarning,

{'n_neighbors': 16}

In [ ]:
knn=KNeighborsClassifier(n_neighbors=16,p=2)

In [ ]:
knn.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=16)

In [ ]:
Y_pred=knn.predict(X_test)
Y_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0])

In [ ]:
cm=confusion_matrix(Y_test,Y_pred)
print(cm)

[[118  12]
 [ 31  31]]

In [ ]:
knn.score(X_test, Y_test)

0.7760416666666666

In [ ]:
print(accuracy_score(Y_test,Y_pred))

0.7760416666666666